.main-dropdown {
  display: inline-block;
  .dropdown-menu {
    padding: 0;
  }
}
.main-dropdown__toggle {
  border: none;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  &:hover {
    background-color: transparent;
  }
  &:after {
    margin-left: 15px;
  }
}
.main-dropdown__header {
  color: black;
  padding: 20px;
  border-bottom: 1px solid color(black-015);
}
.main-dropdown__body {
  padding: 20px;
}
.main-dropdown__footer {
  padding: 15px 20px;
  border-top: 1px solid color(black-015);
}
