.main-dropdown {
  display: inline-block;
  .dropdown-menu {
    padding: 0;
  }
  &.show > .main-dropdown__toggle {
    background-color: transparent;
    border-color: transparent;
  }
}
.main-dropdown__toggle {
  border: none;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 10px;
  &:hover {
    background-color: transparent;
  }
  &:after {
    margin-left: 15px;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
