@import "../../utils/mixins";

.input-search {
  &.ant-select-focused .ant-select-selection {
    border-color: white !important;
  }
  .ant-select-selection {
    width: 100%;
    font-size: 14px;
    color: white;
    line-height: 1.4;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(white, 0.5) !important;
    border-radius: 0;
    padding-bottom: 8px;
    @include input-placeholder-text {
      color: rgba(white, 0.8);
    }
    &:hover,
    &:focus {
      border-color: currentColor;
    }
    &:focus {
      outline: none;
    }
  }
  .ant-input {
    border: none;
    border-radius: 0;
    padding: 0 25px 0 0;
    color: white;
    font-size: 14px;
    height: 100%;
    display: block;
    &:focus {
      box-shadow: none;
    }
  }
  .ant-select-search__field__wrap,
  .ant-input-affix-wrapper {
    display: block;
  }
  .ant-input-suffix {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
  }
  .ant-select-auto-complete.ant-select .ant-input:focus,
  .ant-select-auto-complete.ant-select .ant-input:hover {
    border: none;
  }
  .ant-select-selection__placeholder {
    margin-left: 0 !important;
  }
  .ant-select-selection__placeholder,
  .ant-select-search__field__placeholder {
    color: color(white-075);
  }
}
.ant-select-dropdown {
  box-shadow: 0 16px 12px 0 color(black-005);
  font-size: 14px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ant-select-dropdown-menu-item {
  padding: 10px 15px;
  color: black;
}
.ant-select-dropdown-menu-item-active,
.ant-select-dropdown-menu-item:hover {
  background-color: rgba(0,0,0,0.05);
}
