.main-input {
  text-align: left;
  padding-bottom: 20px;
  position: relative;
  &.is-focused {
    .main-input__label {
      top: 0;
      font-size: 10px;
    }
    .main-input__field + .main-input__label:after {
      transform: scaleX(1);
      background-color: black;
    }
  }
  &.is-invalid {
    .main-input__hint {
      display: block;
    }
   .main-input__field + .main-input__label:after {
      transform: scaleX(1);
      background-color: color(red-500);
    }
  }
}
.main-input__field-box {
  position: relative;
  padding-top: 16px;
}
.main-input__label {
  color: color(black-050);
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 0;
  &:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 0.2s transform cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
  }
}
.main-input__field {
  display: block;
  width: 100%;
  min-height: 32px;
  padding-top: 2px;
  padding-bottom: 6px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid color(black-035);
  &:focus {
    outline: none;
    & + .main-input__label {
      top: 0;
      font-size: 10px;
      &:after {
        transform: scaleX(1);
        background-color: black;
      }
    }
  }
}
.main-input__icon {
  display: inline-block;
  font-size: 22px;
  color: color(blue-500);
  position: absolute;
  right: 0;
  cursor: pointer;
  &:hover {
    color: rgba(color(blue-500), 0.8);
  }
}
.main-input__field--textarea  {
  resize: none;
  min-height: 94px;
  padding-left: 0;
  padding-right: 0;
}
.main-input__hint {
  display: none;
  color: color(red-500);
  font-size: 10px;
  line-height: 1.6;
  position: absolute;
  left: 0;
  bottom: 0;
}
