.favourites-add:disabled,
.favourites-activities:disabled {
  opacity: 0.8;
  cursor: default;

  &:hover {
    .icon,
    .favourites-add__text {
      opacity: 1;
    }
  }
}

.favourites-heart__icon {
  color: color(blue-200);
}

.favourites-add__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
}

.favourites-activities {
  min-width: 155px;
  text-align: left;
  position: relative;
  display: inline-block;
}

.favourites-activities__remove {
  display: none;
}

.favourites-activities:hover {
  .favourites-activities__addeded {
    display: none;
  }
  .favourites-activities__remove {
    display: inline;
  }
}

.favourites-activities__remove-cross {
  color: white;
  font-size: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
