.app-item {
  display: flex;
  margin-bottom: 20px;
}
.app-item--vertical {
  display: block;
}
.app-item__img {
  margin-right: 25px;
  margin-bottom: 5px;
}
.app-item__img {
  display: block;
  $size: 70px;
  width: $size;
  height: $size;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}
.app-item__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
}
.app-item__text {
  font-size: 14px;
  color: color(black-050);
  line-height: 1.5;
  margin-bottom: 10px;
}
