.app-item {
  display: flex;
  margin-bottom: 20px;
  &:hover {
    .app-item__img {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.03);
    }
    .app-item__title {
      color: color(blue-500);
    }
  }
}
.app-item--remove:hover {
  .app-item__icon {
    opacity: 1;
  }
}
.app-item__icon {
  opacity: 0;
}
.app-item--vertical {
  display: block;
}
.app-item__img {
  display: inline-block;
  $size: 70px;
  width: $size;
  height: $size;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}
.app-item__img--md {
  $size: 150px;
  width: $size;
  height: $size;
}
.app-item__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
  color: black;
}
.app-item__text {
  font-size: 14px;
  color: color(black-050);
  line-height: 1.5;
  margin-bottom: 10px;
}
