.slick-slider {
  margin-bottom: 0px;
}

.carousel__item {
  padding: 0 10px;
}

.carousel__item-content {
  border-radius: 4px;
  background-color: color(white-025);
  color: white;
  text-align: center;
  padding: 15px 5px;
  &:hover {
    color: white;
  }
}

.carousel__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 44px;
  color: white;
  cursor: pointer;
  z-index: 3;
}

.carousel__arrow--left {
  left: 15px;
}

.carousel__arrow--right {
  right: 15px;
}
