.main-header {
  height: 60px;
  background-color: color(blue-200);
}
.main-header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.main-header__content {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.main-header__link {
  display: inline-block;
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  padding: 5px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
  &:hover {
    color: rgba(white, 0.8);
    text-decoration: none;
  }
}
.main-header__search-btn {
  font-size: 20px;
  color: white;
  cursor: pointer;
  &:focus,
  &:hover {
    text-decoration: none;
    color: rgba(white, 0.8);
  }
}
.main-header__btn-menu {
  display: inline-block;
  font-size: 20px;
  color: white;
  padding: 5px;
  cursor: pointer;
  &:focus,
  &:hover {
    color: rgba(white, 0.8);
    text-decoration: none;
  }
}
@include media-breakpoint-down(sm) {
  .input-search.ant-select {
    position: absolute;
    right: 10px;
    left: 10px;
    width: calc(100% - 20px);
    max-width: 550px;
    &.ant-select-focused {
      background-color: #3389FC;
    }
  }
}
@include media-breakpoint-down(md) {
  .main-header {
    .input-search:not(.ant-select-focused) {
      .ant-select-selection {
        border-bottom: none !important;
        width: 25px;
        float: right;
      }
      .ant-select-selection__placeholder {
        opacity: 0;
      }
    }
    .ant-select-selection {
      transition: none;
    }
  }
}
