.button-link {
  font-size: 14px;
  line-height: 1.4;
  color: color(blue-500);
  text-decoration: underline;
  transition: 0.2s color cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: rgba(color(blue-500), 0.6);
  }
  &[disabled] {
    color: color(black-035);
    cursor: not-allowed;
  }
}
