.btn-link-with-icon {
  font-size: 12px;
  line-height: 1.3;
  color: color(blue-500);
  font-weight: bold;
  transition: 0.2s color cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: rgba(color(blue-500), 0.6);
    text-decoration: none;
  }
  &[disabled] {
    color: color(black-035);
    cursor: not-allowed;
  }
}
.btn-link-with-icon__icon {
  font-size: 14px;
  margin-left: 4px;
}
