.button-circle {
  display: inline-block;
  $size: 44px;
  height: $size;
  width: $size;
  line-height: $size;
  border-radius: 50%;
}
.button-circle--sm {
  $size: 36px;
  height: $size;
  width: $size;
  line-height: $size;
  .icon {
    font-size: 14px;
  }
}
.button-circle--grey {
  background-color: color(black-005);
  &:hover {
    background-color: color(black-015);
  }
}
.button-circle--grey-light {
  background-color: color(white-010);
  &:hover {
    background-color: color(white-025);
  }
}
