.main-btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  transition: 0.15s all ease-in-out;
  border: 2px solid transparent;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
  &:disabled {
    color: white;
    cursor: default;
    background-color: rgba(black, 0.2);
    &:hover {
      background-color: rgba(black, 0.2);
    }
  }
}
.main-btn--white {
  background-color: white;
  color: color(blue-500);
  &:hover,
  &:focus {
    background-color: rgba(white, 0.8);
  }
}
.main-btn--blue {
  color: white;
  background-color: color(blue-500);
  &:hover,
  &:focus {
    background-color: rgba(color(blue-500), 0.8);
  }
}
.main-btn--transparent {
  color: white;
  border-color: white;
  &:hover,
  &:focus {
    color: color(blue-500);
    background-color: white;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: transparent;
  }
}
.main-btn--sm {
  font-size: 12px;
  padding: 6px 20px 7px;
}
.main-btn--md {
  font-size: 14px;
  padding: 7px 30px;
}
.main-btn--lg {
  font-size: 16px;
  padding: 11px 40px;
}
